@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<FinalProject.Models.Company>

<div class="row" style="position: relative; overflow-y: hidden; height: 300px">
    <video style=" width: 100%; min-height: 300px; }" autoplay loop>
        <source src="https://s3.amazonaws.com/www-assets.invisionapp.com/Homepage/enterprise-loop.mp4" type="video/mp4" style="z-index: 10;">
    </video>
    <div style="position: absolute; top: 0; right: 0; width: 100%; height: 100%; background-color: #191d22; background-color: rgba(25, 29, 34, .75);">
        <div style="position: absolute; top: 60%; right: 0; width: 100%; height: 100%; text-align: center; font-size: 30px; font-weight: bold; color: white; text-shadow: 0px 0px 10px black;">
            Stay updated with the most recent development solutions! <br />
            Learn which are the hotest dev tools in the industry, that fit your project!
        </div>
    </div>
</div>
<div class="FlexRow" style=" flex-wrap: wrap; justify-content: space-around;">
    @foreach (var item in Model)
    {
        <div class="company-icon" style="margin: 10px; flex: 1;">
            <a href='@Url.Action("Details", "Company", new { id = item.CompanyId })'>
            <img src="@Html.DisplayFor(model => item.ImagePath)" style="height: 100px;"/>
            </a>
        </div>
    }
</div>
<hr/>
<h4>Core Developers:</h4>
<div class="FlexRow" style="flex-wrap: wrap; justify-content: space-around; flex-wrap: wrap; align-content: center; margin: 0 200px">
    <div class="FlexRow employee-wrap">
        <div class="FlexRow employee">
            <img class="employee-photo" alt="Bar Miliavsky"
                 src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAPfAAAAJGU1YmVlNDhjLWQwODQtNDE0OC05NTY5LTM3ZjI4ZmRjNzVjNg.jpg" width="100" height="100">
            <div class="FlexCol" style="width: 200px; margin: 5px; justify-content: space-between;">
                <b>Bar Miliavsky</b>
                Cross-platform Developer at Israel Defense Forces
                <div class="FlexRow" style="justify-content: flex-end">
                    <a href="https://www.linkedin.com/in/bar-miliavsky-b3696b55">
                        <img alt="LinkedIn" border="0" height="14" src="https://ci3.googleusercontent.com/proxy/_vGiq1id9xAsRUtZPamNuOBhctilGDplJvKTQSvFRtC8FfW7zNaU9xWAOsjQzUd-oL4jIkjc1L3GEMYk5FV9f1yJf7JQr1xzrWt46srndpONLL4QJPWwxPG3zeDM4DGewwLLoSNkt7PJ3ET8KQZURZ1fCY3zTZm13Vr4N3Dr=s0-d-e1-ft#https://static.licdn.com/scds/common/u/images/email/phoenix/logos/logo_phoenix_footer_gray_197x48_v1.png" width="58" style="outline: none; color: #ffffff; display: block; text-decoration: none">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="FlexRow employee-wrap">
        <div class="FlexRow employee">
            <img class="employee-photo" alt="Yakir Kadkoda"
                 src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAeBAAAAJGFjNjdlNWU0LTdlYTMtNDdkMC05NDRiLWE2MGQ2NTQ2N2M1NQ.jpg" width="100" height="100">
            <div class="FlexCol" style="width: 200px; margin: 5px; justify-content: space-between;">
                <b>Yakir Kadkoda</b>
                Development Team Leader at Israel Defense Forces
                <div class="FlexRow" style="justify-content: flex-end">
                    <a href="https://www.linkedin.com/in/yakir-kadkoda-813928b5">
                        <img alt="LinkedIn" border="0" height="14" src="https://ci3.googleusercontent.com/proxy/_vGiq1id9xAsRUtZPamNuOBhctilGDplJvKTQSvFRtC8FfW7zNaU9xWAOsjQzUd-oL4jIkjc1L3GEMYk5FV9f1yJf7JQr1xzrWt46srndpONLL4QJPWwxPG3zeDM4DGewwLLoSNkt7PJ3ET8KQZURZ1fCY3zTZm13Vr4N3Dr=s0-d-e1-ft#https://static.licdn.com/scds/common/u/images/email/phoenix/logos/logo_phoenix_footer_gray_197x48_v1.png" width="58" style="outline: none; color: #ffffff; display: block; text-decoration: none" >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="FlexRow employee-wrap">
        <div class="FlexRow employee">
            <img class="employee-photo" alt="Nadav Kaner"
                 src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASoAAAAJGVkODUyNjc2LWExODktNDZiMS1hMzc5LWY3NzNjMGZlZTkyMA.jpg" width="100" height="100">
            <div class="FlexCol" style="width: 200px; margin: 5px; justify-content: space-between;">
                <b>Nadav Kaner</b>
                Programmer and on-the-job trainer at Israel Defense Forces
                <div class="FlexRow" style="justify-content: flex-end">
                    <a href="https://www.linkedin.com/in/nadav-kaner-671817109">
                        <img alt="LinkedIn" border="0" height="14" src="https://ci3.googleusercontent.com/proxy/_vGiq1id9xAsRUtZPamNuOBhctilGDplJvKTQSvFRtC8FfW7zNaU9xWAOsjQzUd-oL4jIkjc1L3GEMYk5FV9f1yJf7JQr1xzrWt46srndpONLL4QJPWwxPG3zeDM4DGewwLLoSNkt7PJ3ET8KQZURZ1fCY3zTZm13Vr4N3Dr=s0-d-e1-ft#https://static.licdn.com/scds/common/u/images/email/phoenix/logos/logo_phoenix_footer_gray_197x48_v1.png" width="58" style="outline: none; color: #ffffff; display: block; text-decoration: none">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="FlexRow employee-wrap">
        <div class="FlexRow employee">
            <img class="employee-photo" alt="Mor Tal"
                 src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAdmAAAAJGY5MGE2ZDcwLTFmMWQtNGIyMS1iMTg1LTJmZWE1NzJjZmU1OA.jpg" width="100" height="100">
            <div class="FlexCol" style="width: 200px; margin: 5px; justify-content: space-between;">
                <b>Mor Tal</b>
                Full-Stack Developer at Israel Defense Force
                <div class="FlexRow" style="justify-content: flex-end">
                    <a href="https://www.linkedin.com/in/mor-tal-8970b010a">
                        <img alt="LinkedIn" border="0" height="14" src="https://ci3.googleusercontent.com/proxy/_vGiq1id9xAsRUtZPamNuOBhctilGDplJvKTQSvFRtC8FfW7zNaU9xWAOsjQzUd-oL4jIkjc1L3GEMYk5FV9f1yJf7JQr1xzrWt46srndpONLL4QJPWwxPG3zeDM4DGewwLLoSNkt7PJ3ET8KQZURZ1fCY3zTZm13Vr4N3Dr=s0-d-e1-ft#https://static.licdn.com/scds/common/u/images/email/phoenix/logos/logo_phoenix_footer_gray_197x48_v1.png" width="58" style="outline: none; color: #ffffff; display: block; text-decoration: none">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>

<div style="display: flex; flex-flow: row; justify-content: center; align-content: center;">
    <canvas id="canvasid" width="800px" height="50px"></canvas>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
        function Canvas() {
            var canvas = document.getElementById("canvasid");
            var ctx = canvas.getContext("2d");
            ctx.font = "30px Arial";
            ctx.textAlign = "center";
            ctx.fillText("Enhance your skills with our best development tools", 400, 30);
        }

        Canvas("canvasid");

        $(document).ready(function () {
            $("#canvasid").click(function() { alert("best in the world!") });
        });
    </script>

    <style>
        .FlexRow {
            /*width: 100%;*/
            display: flex;
            flex-direction: row;
        }

        .FlexCol {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .employee-photo {
            border-radius: 80px;
            height: 80px;
            width: 80px;
            -webkit-transition-duration: 1s; /* Safari */
            transition-duration: 1s;
        }

        .employee {
            align-content: center;
            margin: 15px 0;
            width: 350px;
            border-style: solid;
            border-width: 1px;
            padding: 15px;
            border-color: #999999;
        }

        .employee-wrap {
            justify-content: space-around;
            width: 50%;
            min-width: 300px;
        }

        .employee-photo:hover {
            height: 120px;
            width: 120px;
            border-radius: 120px;
            -webkit-transition-duration: 1s; /* Safari */
            transition-duration: 1s;
        }
    </style>
